@font-face {
  font-family: 'iconfont';  /* project id 1786317 */
  src: url('//at.alicdn.com/t/font_1786317_t6rh9xrbveg.eot');
  src: url('//at.alicdn.com/t/font_1786317_t6rh9xrbveg.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1786317_t6rh9xrbveg.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1786317_t6rh9xrbveg.woff') format('woff'),
  url('//at.alicdn.com/t/font_1786317_t6rh9xrbveg.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1786317_t6rh9xrbveg.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icondizhi1:before {
  content: "\e606";
}
.sousuo:before{
	content: "\e624";
}

